html{
    box-sizing: border-box;
    font-size: 100%;

}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: $macondo;
    background-color: $all-black;
    background-image: url('../img/bruceLee.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}