%HStiles{
    font-family: $smooch;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}

header{
    text-align: center;
    background-color: $all-black;
    opacity: 0.90;
    height: 15.625rem;

    h1{
        @extend %HStiles;
        color: $brc-yellow;
        
    }

    h2{
        @extend %HStiles;
        color: $bright-red;
    }
}